/* This file is for your main application css. */

@import "./trix.css";
@import "./phoenix.css";
@import "./navigation.css";
@import "./theme.css";

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.row-center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.color-primary {
    color: var(--primary-color);
}

trix-editor {
    min-height: 50rem;

}

.underline-secondary-2x {
    border-bottom: 4px solid var(--secondary-color);
}


.underline-secondary {
    border-bottom: 3px solid var(--secondary-color);
}


.underline-primary-2x {
    border-bottom: 4px solid var(--primary-color);
}


.underline-primary {
    border-bottom: 3px solid var(--primary-color);
}

.truncate-content {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 30em;
    position: relative;
}

.truncate-content:after {
    content: "";
    height: 2rem;
    display: block;
    width: 100%;
    position: absolute;
    background-color: var(--background-color);
    opacity: 0.8;
    bottom: -0rem;
}

.read-more-link {
    color: var(--primary-color);
    font-size: 1.6rem;
}

#me-statement h2,
#me-statement h3 {
    display: inline;
}

#me-statement-2 h3 {
    margin: 2px;
    padding: 2px;
}

#me-statement-2 a {
    color: var(--primary-color);
}

#me-statement-2 a:hover {
    background-color: var(--secondary-color);
}


@media (min-width: 768px) {
  .home-picture img {
    max-width: 60%
  }

}
