/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

body {background-color: darkgrey}


.card-row {
  min-height: 9rem;
}

.card {
  border: 2px solid white;
  text-align: center;
  vertical-align: middle;
  padding: 1rem;
  margin: 1rem;
  font-size: 4rem;
}

.color-0 {
  color: red;
}
.color-1 {
  color: green;
}
.color-0 {
  color: blue;
}


.shade-0 {
  background-color: lightgray;
}
.shade-1 {
  background-color: darkgrey;
}
.shade-2 {
  background-color: white;
}

.shape-0::after {
  content: "X"
}
.shape-1::after {
  content: "O"
}
.shape-2::after {
  content: "\\"
}
